{% extends "base.html" %} {% block title %}App 2{% endblock %} {% block content
	%}
	<br />
	<h1 align="center">Emailing Service</h1>	
	<br />
	<form name="my_form" >
		Enter your email ID &nbsp;<input  type="text" name="s_email"><br>
		Enter password &nbsp;<input  type="text" name="passw"><br>
		Enter reciever's email ID &nbsp;<input  type="text" name="r_email"><br>
		Type message to be sent &nbsp;<input  type="text" name="mess"><br>
		<input type="button" class="btn btn-info" onclick="submitData('/submitJSON1')" value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
	{% endblock %}