{% extends "base.html" %} {% block title %}App 1{% endblock %} {% block content
	%}
	<br />
	<h1 align="center">To-do List</h1>	
	<br />
        <h2>Add a Todo</h2>
         <style>
		     table, th, td {
		  border: 1px solid white;
		  border-collapse: collapse;
		}
		th, td {
		  background-color: #96D4D4;
		}
    </style>
        <form action="/todo" method="POST">
        	Enter title &nbsp;<input  type="text" name="title"><br><br>
		Enter description &nbsp;<input  type="text" name="desc"><br>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <br><br>
        <h2>Your Todos</h2>
                    <table>
                        <thead>
                          <tr>
                            <th>SNo</th>
                            <th >Title</th>
                            <th >Description</th>
                            <th >Time</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        
                        <tbody>
              {% for todo in allTodo %}
              <tr>
                <th >{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <a href="/todo/delete/{{todo.sno}}" type="button" class="btn btn-info">Done</button>
                
                </td>
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
               
</body>
</html>
	{% endblock %}
